body {
  background-image: var(--bg-gradient-main);

  #root {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    gap: 3rem;
    width: 100%;
    margin: auto;
    min-height: 100dvh;
    margin-top: 5rem;

    section {
      flex-grow: 2;
      flex: 1 1 auto;
      padding: 2rem;
      background-color: var(--color-blanco);
    }
  }
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 4rem;
  }

  .main-content section {
    width: 100%;
    padding: 1rem;
  }

  .main-content aside,
  .main-content nav {
    width: 100%;
  }
}
