@font-face {
  font-family: "boca_bold";   /*Can be any text*/
  src: local("Helvetica"),
    url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "boca_regular";   /*Can be any text*/
  src: local("Helvetica"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "boca_light";   /*Can be any text*/
  src: local("Helvetica"),
    url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #4ac9f0;
  --color-secondary: #79e945;
  --color-texto: #383a37;
  --color-blanco: #FFF;
  --color-negro: #000;
  --color-border: #2c6475;
  --color-fondo: rgb(226, 222, 222);
  --color-sombra: rgba(102, 100, 100, 0.308);
  --sombra-xl: 4px 3px 9px 1px;
}

html{
  font-size: 62.5%;
  box-sizing: content-box;
  
  *, ::after, ::before{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-size: 1.6rem;
    font-family: boca_light;

    a{
      text-decoration: none;
    }
  }
}
